<!--
<!DOCTYPE html>

<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <title>Codedaddies List in Japanese</title>
    </head>
    <body>
    <h2>日本語です</h2>
    </body>
</html>

-->

<!--
<!DOCTYPE html>

{% load static %}

<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <title>Codedaddies List in Japanse</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <link rel="stylesheet" href="{% static "css/style.css" %}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    </head>
    
    <body>
    <nav>
        <div class="nav-wrapper">
            <a href="/" class="brand-logo">Codedaddies List in Japan</a>
            <ul id="nav-mobile" class="right">
                <li><a href="/">Home</a></li>
            </ul>
        </div>
    </nav>   
    <h2>日本語でテスト</h2>
    </body>

</html>

-->

<!--

<!DOCTYPE html>

{% load static %}

<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <title>Codedaddies List in Japanse</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <link rel="stylesheet" href="{% static "css/style.css" %}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    </head>
    
    <body>
    <nav>
        <div class="container nav-wrapper">
            <a href="/" class="brand-logo">Codedaddies List in Japan</a>
            <ul id="nav-mobile" class="right">
                <li><a href="/">Home</a></li>
            </ul>
        </div>
    </nav>   
    <h2>日本語でテスト</h2>
    </body>

</html>

-->



<!--
<!DOCTYPE html>

{% load static %}

<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <title>Codedaddies List in Japanse</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <link rel="stylesheet" href="{% static "css/style.css" %}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    </head>
    
    <body>
    <nav>
        <div class="container nav-wrapper">
            <a href="/" class="brand-logo">Codedaddies List in Japan</a>
            <ul id="nav-mobile" class="right">
                <li><a href="/">Home</a></li>
            </ul>
        </div>
    </nav> 

    <div class="container">

    <h1 style="text-align: center">Codedaddies Listで何を検索しよう?</h1>
    <div class="row">
        <div class="col s4">
             Promo Content 1 goes here 
            <div class="center">
                <i class="large material-icons" style="color: #EE6E73">flash_on</i>
                <p>高速なcraigslistからのウェブスクレイピング</p>
                <p class="light center">美しいGUIにより、ここからすぐにスクレイピングできる。</p>
            </div>
        </div>
        
        <div class="col s4">
            <div class="center">
                <i class="large material-icons" style="color: orange">camera</i>
                <p>あなたの検索をフィルタリング</p>
                <p class="light center">価格をベースにフィルターします。</p>
            </div>
        </div>
        
        
        <div class="col s4">
            <div class="center">
                <i class="large material-icons" style="color: blue">chrome_reader_mode</i>
                <p>Craigslistへのよりセクシーなプロントエンド</p>
                <p class="light center">愛を持って作りました❤️</p>
            </div>
        </div>
        
    </div>
</div>


        
        
        
    </body>

</html>
-->



<!DOCTYPE html>

{% load static %}

<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <title>Codedaddies List in Japanse</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <link rel="stylesheet" href="{% static "css/style.css" %}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    </head>
    
    <body>
    <nav>
        <div class="container nav-wrapper">
            <a href="/" class="brand-logo">Codedaddies List in Japan</a>
            <ul id="nav-mobile" class="right">
                <li><a href="/">Home</a></li>
            </ul>
        </div>
    </nav> 

    <div class="container">

    <h1 style="text-align: center">Codedaddies Listで何を検索しよう?</h1>
    <div class="row">
        <div class="col s4">
            <div class="center">
                <i class="large material-icons" style="color: #EE6E73">flash_on</i>
                <p>高速なcraigslistからのウェブスクレイピング</p>
                <p class="light center">美しいGUIにより、ここからすぐにスクレイピングできる。</p>
            </div>
        </div>
        
        <div class="col s4">
            <div class="center">
                <i class="large material-icons" style="color: orange">camera</i>
                <p>あなたの検索をフィルタリング</p>
                <p class="light center">価格をベースにフィルターします。</p>
            </div>
        </div>
        
        
        <div class="col s4">
            <div class="center">
                <i class="large material-icons" style="color: blue">chrome_reader_mode</i>
                <p>Craigslistへのよりセクシーなプロントエンド</p>
                <p class="light center">愛を持って作りました❤️</p>
            </div>
        </div>
        
    </div>
        

<form action="{% url 'new_search' %}" method="post">
  
    {% csrf_token %}

    <input type="text" name="search" placeholder="検索">
    
    <button class="btn waves-effect waves-light" type="submit" name="action">確定
    <i class="material-icons right">send</i>
  </button>
</form>

        
{% block content %}

{% endblock content %}
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

        
        
        
    </body>

</html>

